<div>
    <!--ESPAÇO PARA INSERÇÃO DE DADOS-->
    <div>
        <label for="food">Alimento: </label>
        
        <input type="text" name="food" id="food" placeholder="digite o que você comeu" #foodName (input)="onSearch(foodName.value)">
        
        <ul style="list-style-type: none;">
            <li *ngFor="let food of foodMenu$ | async">
                <button>
                    {{food.descricao}}
                </button>
            </li>
        </ul>
    </div>
    
    <div>
        <label for="quantity">Quantidade(g): </label>
        <input type="number" name="quantity" id="quantity" placeholder="quantos gramas?">
    </div>

    <!--LISTA GERADA A PARTIR DA TABELA TACO-->
    <h3>Encontre seu alimento</h3>
    <h5>quantidades por porção de 100g</h5>
    <ul>
        <li *ngFor="let food of tacoTable">
            
            <button type="button" (click)="onSelect(food)">
                <span>{{food.descricao}}</span>
            </button>

            <div *ngIf="selectedFood && selectedFood.descricao == food.descricao">
                <ul>
                    <li>calorias: {{selectedFood.energiaKcal | number:'.1-1'}}</li>
                    <li>proteínas: {{selectedFood.proteinas | number:'.1-1'}}</li>
                    <li>gorduras: {{selectedFood.lipideos | number:'.1-1'}}</li>
                    <li>carboidratos: {{selectedFood.carboidratos | number:'.1-1'}}</li>
                </ul>
            </div>
        </li>
    </ul>
</div>
